.img1 {
  margin-left: 180px;
  margin-top: 20px;
  width: 60px;
  height: 60px;
}

.img2 {
  margin-left: 30px;
  margin-top: 20px;
  width: 60px;
  height: 60px;
}
.plk{
  color: black;
  font-width: bold;
  font-size: 30px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .img1 {
    margin-left: 30px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
  }
  .img2 {
    margin-left: 10px;
    width: 60px;
    height: 60px;
  }
  .plk{
    color: black;
    font-width: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
  }
}
